In [1]:
import pandas as pd
import numpy as np

In [2]:
lowerGround = pd.read_csv("September 2021 - Lower Ground Floor.csv")

In [3]:
thirdFloor = pd.read_csv("September 2021 - Third Floor.csv")

In [4]:
# created method to remove all rows that contained 'hearbeat signal' as it had to be ignored
def removeHearbeat(df):
    df2 = df[df['Data']==3].index
    df.drop(df2, inplace = True)
    return df

In [5]:
removeHearbeat(lowerGround)

                   DateTime  Data   Reading
0     2021/09/01 5:40:08 PM     0  No Event
2     2021/09/01 5:27:28 PM     1       NaN
3     2021/09/01 5:21:59 PM     0  No Event
4     2021/09/01 5:09:38 PM     1       NaN
5     2021/09/01 4:58:47 PM     0  No Event
..                      ...   ...       ...
326  2021/08/02 12:40:03 PM     1       NaN
327  2021/08/02 12:12:32 PM     0  No Event
328  2021/08/02 11:55:34 AM     1       NaN
329  2021/08/02 11:50:21 AM     0  No Event
330   2021/08/02 7:50:50 AM     1       NaN

[300 rows x 3 columns]

In [ ]:
removeHearbeat(thirdFloor)

In [6]:
# created method to make data easier to use 
def createReableField(df):
    df['isMotion'] = np.where(df['Data']== 0, 'no motion', 'motion detected')
    df['Readings'] = np.where(df['Reading']!= 'No Event', 'Event','No Event')
    return df

In [7]:
createReableField(lowerGround)

                   DateTime  Data   Reading         isMotion  Readings
0     2021/09/01 5:40:08 PM     0  No Event        no motion  No Event
2     2021/09/01 5:27:28 PM     1       NaN  motion detected     Event
3     2021/09/01 5:21:59 PM     0  No Event        no motion  No Event
4     2021/09/01 5:09:38 PM     1       NaN  motion detected     Event
5     2021/09/01 4:58:47 PM     0  No Event        no motion  No Event
..                      ...   ...       ...              ...       ...
326  2021/08/02 12:40:03 PM     1       NaN  motion detected     Event
327  2021/08/02 12:12:32 PM     0  No Event        no motion  No Event
328  2021/08/02 11:55:34 AM     1       NaN  motion detected     Event
329  2021/08/02 11:50:21 AM     0  No Event        no motion  No Event
330   2021/08/02 7:50:50 AM     1       NaN  motion detected     Event

[300 rows x 5 columns]

In [ ]:
createReableField(thirdFloor)

In [8]:
# did this so that I could merge both datasets but still distinguish wht floor the data was from
lowerGround['Floor'] = 'Lower Ground'
thirdFloor['Floor'] = 'Third'

In [89]:
#merged data
newDF = pd.concat([lowerGround, thirdFloor], ignore_index=True, sort=False)

In [96]:
#created new CSV file with merged data
newDF.to_csv(r'cleanedData', encoding='utf-8', index=False)